/* LOGIN */
.login {
    height: 750px;
    padding: 100px;
    text-align: center;
    background-color: lightgray;
}

.login-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    max-width: 800px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h2 {
    color: black;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.login span{
    color: #ffc72c;  
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

.login-form input,
.login-form textarea {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.login-form input[type="checkbox"] {
    width: auto;
    margin: 0;
    padding: 0;
}

.login-form label {
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.login-form input:focus,
.login-form textarea:focus {
    border-color: #007bff;
}

.login-form button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #007bff;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 1px 1px 6px black;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    opacity: 0.8;

}

/* RESPONSIVIDADE para 578px até 1200px */
@media (min-width: 578px) and (max-width: 1200px) {
    /* LOGIN */
    .login {
        height: 750px;
        padding: 60px 30px;
    }

    .login h2 {
        font-size: 32px;
    }

    .login-container {
        width: 60%;
        padding: 40px;
    }

    .login-form {
        min-width: 260px;
    }

    .login-form input {
        padding: 12px;
        font-size: 14px;
    }

    .login-form button {
        padding: 12px;
        font-size: 15px;
    }

    .login-container p {
        font-size: 14px;
    }
}

/* RESPONSIVIDADE para 1201px até 1600px */
@media (min-width: 1201px) and (max-width: 1600px) {
    /* LOGIN */
    .login {
        height: 750px;
        padding: 60px 30px;
    }

    .login h2 {
        font-size: 32px;
    }

    .login-container {
        width: 30%;
        padding: 40px;
    }

    .login-form {
        min-width: 260px;
    }

    .login-form input {
        padding: 12px;
        font-size: 14px;
    }

    .login-form button {
        padding: 12px;
        font-size: 15px;
    }

    .login-container p {
        font-size: 14px;
    }
}

/* RESPONSIVIDADE para até 577px */
@media (max-width: 577px) {
    /* LOGIN */
    .login {
        padding: 60px 30px;
    }

    .login h2 {
        font-size: 32px;
    }

    .login-container {
        width: 95%;
        padding: 40px;
    }

    .login-form {
        min-width: 100px;
    }

    .login-form input {
        padding: 12px;
        font-size: 14px;
    }

    .login-form button {
        padding: 10px;
        font-size: 15px;
    }

    .login-container p {
        font-size: 14px;
    }
}